
<div class="my-4">
    <h3 class="text-center">About Application</h3>
    <p class="container"><i>What is a ToDo List? The definition is a simple one. It’s a list of tasks you need to complete or things that you want to do. 

        Most typically, they’re organised in order of priority. Traditionally, they’re written on a piece of paper or post it notes and act as a memory aid. As technology has evolved we have been able to create a todo lists with excel spreadsheets, word documents, email lists, todo list apps, Microsoft to do and google to do list to name a few. You can use a to do list in your home and personal life, or in the workplace.</i></p>

        <h3 class="text-center">The Benefits of Using a To Do List</h3>
    <p class="container"><i>
        One of the most important reasons you should use a to do list is that it will help you stay organised. When you write all your tasks in a list, they seem more manageable. When you’ve got a clear outline of the tasks you’ve got to do and those you’ve completed, it helps you stay focused. While freeing up space in your mind for other more creative tasks.
        
        When you complete a task, you can cross it off your list. This gives you a sense of progress and achievement, something you’ll lack if you’re always rushing from one task to the next. If you feel a sense of achievement, it spurs you on and motivates you to keep moving forward.</i></p>
</div>
